@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Anime Manga List!</h1>
    <h2>Anime Manga List offers you a way to keep track of your progress
    when watching Anime or reading Manga. To find Anime/Manga to add to your
    list simply go to the associated page and search for the Anime/Manga you
    want to add to your list.</h2>
    <br />
    <h2>Once you have added the Anime/Manga to your list you can then head over
    to your respective list and track your progress or even just add it to your
    might read/watch list.</h2>
</div>
